.welcome {
  margin-bottom: 5rem;
}

.companiesTitle {
  text-align: center;
  color: rgb(134, 110, 194);
}
.companyButtonsDiv {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.homeHr {
  margin-top: 3rem;
  border-top: 10px, dotted, black;
}
.stocksTitle {
  margin-top: 3rem;
  text-align: center;
  color: rgb(134, 110, 194);
}

.stocksButtonsDiv {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.companySearchSelect {
  height: 41px;
}
